body {
  background-color: #506640;
  color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h3 {
  margin-left: 25px;
  margin-bottom: 25px;
}
a {
  color: #00B7FF;
}
button {
  padding: 7px;
  margin-right: 10px;
}
.table-div {
  border-radius: 25px;
  padding: 25px;
  background-color: #B8C291;
  color: black;
}
.detail-table-label {
  text-align: right;
}

.sub-header {
  font-size: 24px;
  font-weight: bold;
}

.qrcode {
  padding-bottom: 15px;
}

.detail-table-values {
  background-color: lightgray;
}

.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: rgb(255, 255, 255); 
   color: black;
 }
 .table-striped>tbody>tr:nth-child(even)>td {
   background-color: rgb(210, 255, 255); 
   color: black; 
 }
 .table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #3C525B;
   color: white;
 }
 .float-right {
   float: right;
 }